<style >
body {
    margin: 0;
    min-height: 100vh;
    background: linear-gradient(180deg, #000000, #001f4d);
    font-family: Arial;
}

.board-title {
    text-align: center;
    font-size: 48px;
    font-weight: bold;
    color: white;
    padding: 30px;
    letter-spacing: 3px;
}

.exchange-board {
    width: 90%;
    margin: auto;
    border-collapse: collapse;
    text-align: center;
    font-size: 36px;
    background: rgba(0,0,0,0.4);
    border-radius: 10px;
    overflow: hidden;
}

    .exchange-board th,
    .exchange-board td {
        padding: 25px;
        border-bottom: 1px solid #333;
    }

/* Labels */
.currency-header {
    color: #00aaff;
    font-weight: bold;
}

.buy-header {
    color: #00ff66;
    font-weight: bold;
}

.sell-header {
    color: #ffd700;
    font-weight: bold;
}

/* Values */
.currency-value {
    color: #00aaff;
    font-weight: bold;
}

.buy-value {
    color: #00ff66;
    font-weight: bold;
}

.sell-value {
    color: #ffd700;
    font-weight: bold;
}

</style >
